#LI_1 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 183.563px;
    text-size-adjust: 100%;
    margin-left: 2%;
    width: 816px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 408px 91.7813px;
    transform-origin: 408px 91.7813px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#LI_1*/

#ARTICLE_2 {
    bottom: 0px;
    box-shadow: rgba(41, 51, 57, 0.498039) 0px 1px 4px 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    width: 882px;
    display: flex;
    height: 183.563px;
    left: 8px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 408px 91.7813px;
    transform-origin: 408px 91.7813px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    border-radius: 2px 2px 2px 2px;
    flex-flow: row wrap;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 8px;
    outline: rgb(55, 69, 77) none 0px;
}/*#ARTICLE_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 183.563px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 0px 91.7813px;
    transform-origin: 0px 91.7813px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_3*/

#DIV_4, #DIV_5, #META_30 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_4, #DIV_5, #META_30*/

#BUTTON_6 {
    bottom: 143.563px;
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    height: 32px;
    left: 8px;
    opacity: 0.9;
    position: absolute;
    right: 776px;
    text-size-adjust: 100%;
    top: 8px;
    width: 32px;
    z-index: 4;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 16px 16px;
    transform-origin: 16px 16px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / 100% padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    border-radius: 0 0 2px 0;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
    padding: 0px;
}/*#BUTTON_6*/

#SPAN_7 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    opacity: 0.75;
    text-align: center;
    text-size-adjust: 100%;
    width: 24px;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / 100% padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 5px 0px 0px;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_7*/

#svg_8 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    height: 24px;
    text-align: center;
    text-size-adjust: 100%;
    width: 24px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#svg_8*/

#path_9 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    fill: rgb(255, 255, 255);
    d: path('M 20.43 4.82 A 5.232 5.232 0 0 0 16.5 3 A 5.374 5.374 0 0 0 12 5.58 A 5.374 5.374 0 0 0 7.5 3 a 5.232 5.232 0 0 0 -3.93 1.82 a 6.347 6.347 0 0 0 -1.58 4.25 c 0 0.01 0.01 0.05 0.01 0.06 v 0.22 c 0 5.42 7.26 10.18 9.48 11.51 a 1.036 1.036 0 0 0 1.04 0 C 14.74 19.53 22 14.77 22 9.35 v -0.22 c 0 -0.01 0.01 -0.05 0.01 -0.06 a 6.347 6.347 0 0 0 -1.58 -4.25 Z');
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#path_9*/

#path_10 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    fill: rgb(55, 69, 77);
    d: path('M 21 9.18 v 0.17 c 0 4.94 -7.08 9.5 -9 10.65 c -1.92 -1.15 -9 -5.71 -9 -10.65 v -0.17 a 0.41 0.41 0 0 0 -0.01 -0.11 A 4.816 4.816 0 0 1 7.5 4 a 4.39 4.39 0 0 1 3.66 2.12 L 12 7.44 l 0.84 -1.32 A 4.39 4.39 0 0 1 16.5 4 a 4.816 4.816 0 0 1 4.51 5.07 a 0.41 0.41 0 0 0 -0.01 0.11 Z');
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#path_10*/

#SPAN_11 {
    bottom: 33px;
    box-sizing: border-box;
    clip: rect(0px 0px 0px 0px);
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    height: 1px;
    left: 28px;
    position: absolute;
    right: 5px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    width: 1px;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: -1px;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#SPAN_11*/

#SPAN_12, #SPAN_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    left: 54px;
    max-width: 267px;
    min-height: 32px;
    position: absolute;
    text-align: left;
    text-size-adjust: 100%;
    top: 8px;
    z-index: 2;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(41, 51, 57, 0.901961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9px 8px 8px;
}/*#SPAN_12, #SPAN_13*/

#SPAN_14 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    left: 54px;
    max-width: 267px;
    min-height: 32px;
    position: absolute;
    text-align: left;
    text-size-adjust: 100%;
    top: 8px;
    z-index: 2;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(41, 51, 57, 0.901961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 9px 8px 8px;
}/*#SPAN_14*/

#DIV_15 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_15*/

#DIV_16 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 183.563px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 181.563px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 90.7813px 91.7813px;
    transform-origin: 90.7813px 91.7813px;
    border: 0px none rgb(55, 69, 77);
    flex: 1 0 8%;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 8px 6px 8px 8px;
}/*#DIV_16*/

#DIV_17 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 167.563px;
    left: 12px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 8px;
    width: 166.563px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 83.7813px 83.7813px;
    transform-origin: 83.7813px 83.7813px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_17*/

#DIV_17:before {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    content: '';
    display: block;
    height: 167.563px;
    text-align: left;
    text-size-adjust: 100%;
    width: 167.563px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 83.7813px 83.7813px;
    transform-origin: 83.7813px 83.7813px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 167.563px 0px 0px;
}/*#DIV_17:before*/

#IMG_18 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: block;
    height: 167.563px;
    left: 40px;
    max-width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    width: 100.563px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 83.7813px 83.7813px;
    transform-origin: 83.7813px 83.7813px;
    border: 0px none rgb(55, 69, 77);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#IMG_18*/

#IMG_19 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: block;
    height: 167.563px;
    left: 46.5px;
    max-width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    width: 100.563px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 83.7813px 83.7813px;
    transform-origin: 83.7813px 83.7813px;
    border: 0px none rgb(55, 69, 77);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}

#IMG_20 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: block;
    height: 167.563px;
    left: 16px;
    max-width: 100%;
    position: absolute;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    width: 150.563px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 83.7813px 83.7813px;
    transform-origin: 83.7813px 83.7813px;
    border: 0px none rgb(55, 69, 77);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}


#BUTTON_19 {
    background-position: 0px 50%;
    bottom: 0px;
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    height: 167.563px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 167.563px;
    z-index: 3;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 83.7813px 83.7813px;
    transform-origin: 83.7813px 83.7813px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 50% / auto padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 0px;
    transition: opacity 0.3s ease 0s;
}/*#BUTTON_19*/

#SPAN_20 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    height: 119.797px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 47.7656px;
    width: 167.563px;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 83.7813px 59.8906px;
    transform-origin: 83.7813px 59.8906px;
    background: rgba(0, 0, 0, 0) linear-gradient(transparent, rgba(0, 0, 0, 0.247059) 60%, rgba(0, 0, 0, 0.74902)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_20*/

#SPAN_21 {
    bottom: 8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 32px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 79.7969px;
    width: 167.563px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 83.7813px 16px;
    transform-origin: 83.7813px 16px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 14px / normal Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 16px 0px 0px;
}/*#SPAN_21*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: flex;
    height: 183.563px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 344.438px;
    column-rule-color: rgb(55, 69, 77);
    justify-content: space-between;
    perspective-origin: 317.219px 91.7813px;
    transform-origin: 317.219px 91.7813px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_22*/

#DIV_23 {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(55, 69, 77);
    height: 167.563px;
    left: 30px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    width: 344.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 155.422px 83.7813px;
    transform-origin: 155.422px 83.7813px;
    border-top: 0px none rgb(55, 69, 77);
    border-bottom: 0px none rgb(55, 69, 77);
    border-left: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 8px 0px;
    outline: rgb(55, 69, 77) none 0px;
    padding: 0px 8px 0px 4px;
}/*#DIV_23*/

._1UoZlX ._3ULzGw {
    margin-top: 13px;
}

._1UoZlX {
    padding: 24px;
    line-height: 1;
    padding-right: 0;
    padding-bottom: 30px;
    display: block;
    overflow: hidden;
}

#DIV_24 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: inline-block;
    height: 11px;
    text-align: left;
    text-size-adjust: 100%;
    width: 297.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 148.922px 13.5px;
    transform-origin: 148.922px 13.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 20px / 25px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 16px;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_24*/

#H3_25 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    float: left;
    height: 25px;
    text-align: left;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 297.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 148.922px 12.5px;
    transform-origin: 148.922px 12.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal bold normal 20px / 25px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#H3_25*/

#DIV_26 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: flex;
    float: left;
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    align-items: center;
    border: 0px none rgb(55, 69, 77);
    flex-flow: row wrap;
    font: normal normal normal normal 20px / 25px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 2px 8px 0px 0px;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_26*/

#DIV_27 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 173px;
    text-align: left;
    text-size-adjust: 100%;
    width: 297.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 148.922px 16.5px;
    transform-origin: 148.922px 16.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    
    overflow: hidden;
}/*#DIV_27*/

#P_28 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 17px;
    text-align: left;
    text-size-adjust: 100%;
    width: 297.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 148.922px 8.5px;
    transform-origin: 148.922px 8.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 14px / 17.5px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 16px;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#P_28*/



#META_31 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#META_31*/

#EM_32 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: block;
    float: left;
    height: 24px;
    text-align: left;
    text-size-adjust: 100%;
    width: 24px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
    background: rgb(114, 172, 47) none no-repeat scroll 50% 50% / 60% padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    border-radius: 2px 2px 2px 2px;
    font: italic normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 8px 4px 0px;
    outline: rgb(55, 69, 77) none 0px;
    padding: 4px;
}/*#EM_32*/

#SPAN_33 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: inline-block;
    height: 16px;
    text-align: left;
    text-size-adjust: 100%;
    width: 16px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / contain padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    font: italic normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_33*/

#svg_34 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 16px;
    text-align: left;
    text-size-adjust: 100%;
    width: 16px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    border: 0px none rgb(55, 69, 77);
    font: italic normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#svg_34*/

#path_35 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    fill: rgb(255, 255, 255);
    fill-rule: evenodd;
    d: path('M 4.8 7.7 c 1.7 0 3.1 -1.7 3.1 -3.9 S 6.5 0 4.8 0 S 1.7 1.7 1.7 3.9 s 1.4 3.8 3.1 3.8 Z m 14.4 0 c 1.7 0 3.1 -1.7 3.1 -3.9 S 20.9 0 19.2 0 c -1.7 0 -3.1 1.7 -3.1 3.9 s 1.4 3.8 3.1 3.8 Z m 2.9 9.6 c -2.2 2 -4.7 4.3 -10.1 4.3 c -5.4 0 -7.9 -2.4 -10.1 -4.3 c -1 -0.9 -3.1 -0.3 -1 1.7 c 2.3 2.4 4.6 4.9 11.1 5 c 6.5 -0.1 8.8 -2.6 11.1 -4.9 c 2.1 -2.1 0 -2.7 -1 -1.8 Z');
    border: 0px none rgb(55, 69, 77);
    font: italic normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#path_35*/

#P_36 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 19px;
    text-align: left;
    text-size-adjust: 100%;
    width: 265.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 132.922px 9.5px;
    transform-origin: 132.922px 9.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 14px / 17.5px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 16px;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
    padding: 2px 0px 0px;
}/*#P_36*/

#EM_37, #SPAN_39 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 14px / 17.5px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#EM_37, #SPAN_39*/

#SPAN_38 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal bold normal 14px / 17.5px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_38*/

#SPAN_40 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 14px / 17.5px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_40*/

#DIV_41 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    width: 297.859px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 148.922px 0px;
    transform-origin: 148.922px 0px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_41*/

#SECTION_42 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    display: flex;
    height: 167.563px;
    left: 53px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    width: 115.781px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 57.8906px 83.7813px;
    transform-origin: 57.8906px 83.7813px;
    border-top: 0px none rgb(105, 115, 121);
    border-right: 1px solid rgb(205, 208, 210);
    border-bottom: 0px none rgb(105, 115, 121);
    border-left: 1px solid rgb(205, 208, 210);
    flex-flow: column wrap;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 8px 0px;
    outline: rgb(105, 115, 121) none 0px;
    padding: 8px;
}/*#SECTION_42*/

#H4_43 {
    bottom: 160.563px;
    box-sizing: border-box;
    clip: rect(0px 0px 0px 0px);
    color: rgb(105, 115, 121);
    height: 1px;
    left: 8px;
    min-height: auto;
    min-width: auto;
    position: absolute;
    right: 107.781px;
    text-align: center;
    text-size-adjust: 100%;
    top: 8px;
    width: 1px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(105, 115, 121);
    font: normal normal bold normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: -1px;
    outline: rgb(105, 115, 121) none 0px;
    overflow: hidden;
}/*#H4_43*/

#UL_44 {
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    display: flex;
    height: 127.563px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-size-adjust: 100%;
    width: 98.7813px;
    column-rule-color: rgb(105, 115, 121);
    justify-content: center;
    perspective-origin: 49.3906px 63.7813px;
    transform-origin: 49.3906px 63.7813px;
    border: 0px none rgb(105, 115, 121);
    flex: 1 1 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px;
    outline: rgb(105, 115, 121) none 0px;
    padding: 0px;
}/*#UL_44*/

#LI_45, #LI_48, #LI_51 {
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    height: 30px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-size-adjust: 100%;
    width: 98.7813px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 49.3906px 15px;
    transform-origin: 49.3906px 15px;
    border: 0px none rgb(105, 115, 121);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 10px;
    outline: rgb(105, 115, 121) none 0px;
}/*#LI_45, #LI_48, #LI_51*/

#BUTTON_46 {
    color: rgb(105, 115, 121);
    cursor: pointer;
    height: 30px;
    text-size-adjust: 100%;
    width: 61px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 30.5px 15px;
    transform-origin: 30.5px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(105, 115, 121);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(105, 115, 121) none 0px;
    padding: 0px;
}/*#BUTTON_46*/

#STRONG_47 {
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    cursor: pointer;
    display: block;
    height: 15px;
    text-align: center;
    text-size-adjust: 100%;
    width: 61px;
    column-rule-color: rgb(105, 115, 121);
    align-self: flex-start;
    perspective-origin: 30.5px 7.5px;
    transform-origin: 30.5px 7.5px;
    border: 0px none rgb(105, 115, 121);
    font: normal normal bold normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(105, 115, 121) none 0px;
}/*#STRONG_47*/

#BUTTON_49 {
    color: rgb(105, 115, 121);
    cursor: pointer;
    height: 30px;
    text-size-adjust: 100%;
    width: 71px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 35.5px 15px;
    transform-origin: 35.5px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(105, 115, 121);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(105, 115, 121) none 0px;
    padding: 0px;
}/*#BUTTON_49*/

#STRONG_50 {
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    cursor: pointer;
    display: block;
    height: 15px;
    text-align: center;
    text-size-adjust: 100%;
    width: 71px;
    column-rule-color: rgb(105, 115, 121);
    align-self: flex-start;
    perspective-origin: 35.5px 7.5px;
    transform-origin: 35.5px 7.5px;
    border: 0px none rgb(105, 115, 121);
    font: normal normal bold normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(105, 115, 121) none 0px;
}/*#STRONG_50*/

#BUTTON_52 {
    color: rgb(105, 115, 121);
    cursor: pointer;
    height: 30px;
    text-size-adjust: 100%;
    width: 47px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 23.5px 15px;
    transform-origin: 23.5px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(105, 115, 121);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(105, 115, 121) none 0px;
    padding: 0px;
}/*#BUTTON_52*/

#STRONG_53 {
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    cursor: pointer;
    display: block;
    height: 15px;
    text-align: center;
    text-size-adjust: 100%;
    width: 47px;
    column-rule-color: rgb(201, 74, 48);
    align-self: flex-start;
    perspective-origin: 23.5px 7.5px;
    transform-origin: 23.5px 7.5px;
    border: 0px none rgb(201, 74, 48);
    font: normal normal bold normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(201, 74, 48) none 0px;
}/*#STRONG_53*/

#DIV_54 {
    box-sizing: border-box;
    color: rgb(105, 115, 121);
    height: 24px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-size-adjust: 100%;
    width: 98.7813px;
    column-rule-color: rgb(105, 115, 121);
    perspective-origin: 49.3906px 12px;
    transform-origin: 49.3906px 12px;
    border: 0px none rgb(105, 115, 121);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(105, 115, 121) none 0px;
}/*#DIV_54*/

#BUTTON_55 {
    color: rgb(55, 69, 77);
    cursor: pointer;
    height: 24px;
    text-size-adjust: 100%;
    width: 77px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 38.5px 12px;
    transform-origin: 38.5px 12px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(235, 236, 237);
    border-right: 0px none rgb(55, 69, 77);
    border-bottom: 0px none rgb(55, 69, 77);
    border-left: 0px none rgb(55, 69, 77);
    font: normal normal bold normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 8px 0px 0px;
}/*#BUTTON_55*/

#SECTION_56 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: flex;
    height: 183.563px;
    margin-left: 45px;

    min-height: auto;
    min-width: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 207.766px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 103.875px 91.7813px;
    transform-origin: 103.875px 91.7813px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 8px;
}/*#SECTION_56*/

#DIV_57 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: flex;
    height: 167.563px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 191.766px;
    column-rule-color: rgb(55, 69, 77);
    align-items: flex-end;
    justify-content: space-between;
    perspective-origin: 95.875px 83.7813px;
    transform-origin: 95.875px 83.7813px;
    border: 0px none rgb(55, 69, 77);
    flex-flow: column wrap;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_57*/

#DIV_58 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: flex;
    height: 123.563px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-size-adjust: 100%;
    width: 191.766px;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-end;
    justify-content: space-around;
    order: 3;
    perspective-origin: 95.875px 61.7813px;
    transform-origin: 95.875px 61.7813px;
    border: 0px none rgb(55, 69, 77);
    flex: 2 1 auto;
    flex-flow: column wrap;
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_58*/

#DIV_59 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 75px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-size-adjust: 100%;
    width: 191.766px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 95.875px 37.5px;
    transform-origin: 95.875px 37.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_59*/

#EM_60 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: block;
    height: 15px;
    text-align: center;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 134.766px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 95.875px 7.5px;
    transform-origin: 95.875px 7.5px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 8px;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#EM_60*/

#META_61, #META_62 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#META_61, #META_62*/

#S_63 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(201, 74, 48);
    display: block;
    height: 18px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    white-space: pre;
    width: 191.766px;
    column-rule-color: rgb(201, 74, 48);
    perspective-origin: 95.875px 9px;
    transform-origin: 95.875px 9px;
    border: 0px none rgb(201, 74, 48);
    font: normal normal bold normal 18px / 18px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 4px;
    outline: rgb(201, 74, 48) none 0px;
}/*#S_63*/

#STRONG_64 {
    box-sizing: border-box;
    color: #005fa7;
    display: block;
    height: 22px;
    text-align: center;
    text-size-adjust: 100%;
    width: 134.766px;
    column-rule-color: rgb(102, 164, 0);
    perspective-origin: 95.875px 11px;
    transform-origin: 95.875px 11px;
    border: 0px none rgb(102, 164, 0);
    font: normal normal bold normal 18px / 22.5px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 8px;
    outline: rgb(102, 164, 0) none 0px;
}/*#STRONG_64*/

.best{
    height: 100px;
    width: 100px;
    margin-left: -43%;
    margin-bottom: 4%;
}

#BUTTON_65 {
    background-position: 98% 50%;
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 44px;
    left: 14px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    top: 0px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 175.766px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-end;
    order: 6;
    perspective-origin: 95.875px 22px;
    transform-origin: 95.875px 22px;
    user-select: none;
    background: #005fa7 url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Eicn_arrow_deal%3C%2Ftitle%3E%3Cpath%20d%3D%22M9.5%2018a1%201%200%200%201-.707-1.707L13.086%2012%208.793%207.707a1%201%200%201%201%201.414-1.414l5%205a1%201%200%200%201%200%201.414l-5%205A1%201%200%200%201%209.5%2018z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E") no-repeat scroll 98% 50% / auto padding-box border-box;
    border-top: 1px solid rgb(102, 164, 0);
    border-right: 1px solid rgb(102, 164, 0);
    border-bottom: 1px solid rgb(76, 123, 0);
    border-left: 1px solid rgb(102, 164, 0);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold normal 16px / 16px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 14px 16px;
}/*#BUTTON_65*/

#DIV_66 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 816px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 408px 0px;
    transform-origin: 408px 0px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_66*/

#DIV_67 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    text-align: left;
    text-size-adjust: 100%;
    width: 816px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 408px 0px;
    transform-origin: 408px 0px;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_67*/

#DIV_68 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: none;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_68*/

#DIV_68:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(55, 69, 77);
    content: '"' '"';
    display: table;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_68:after*/

#DIV_68:before {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    content: '"' '"';
    display: table;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_68:before*/

#DIV_69 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: 20px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 11px;
    width: auto;
    z-index: 12;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 0px 8px;
}/*#DIV_69*/

#DIV_69:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(55, 69, 77);
    content: '"' '"';
    display: table;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_69:after*/

#DIV_69:before {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    content: '"' '"';
    display: table;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_69:before*/

#DIV_70 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    display: inline-block;
    height: auto;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_70*/

#BUTTON_71 {
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    position: relative;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(55, 69, 77);
    border-right: 1px solid rgb(205, 208, 210);
    border-bottom: 0px none rgb(55, 69, 77);
    border-left: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(55, 69, 77) none 0px;
    padding: 0px 8px 0px 0px;
}/*#BUTTON_71*/

#BUTTON_71:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(55, 69, 77);
    content: '"' '"';
    cursor: pointer;
    display: table;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#BUTTON_71:after*/

#BUTTON_71:before {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    content: '"' '"';
    cursor: pointer;
    display: table;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#BUTTON_71:before*/

#BUTTON_72 {
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    text-size-adjust: 100%;
    width: 20px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(205, 208, 210);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: 0px 0px 0px 8px;
    outline: rgb(55, 69, 77) none 0px;
    padding: 0px;
}/*#BUTTON_72*/

#SPAN_73 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    height: 100%;
    text-align: center;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_73*/

#SPAN_73:before {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    content: '""';
    cursor: pointer;
    display: inline-block;
    height: 100%;
    text-align: center;
    text-size-adjust: 100%;
    vertical-align: middle;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#SPAN_73:before*/

#svg_74 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    height: 9px;
    text-align: center;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 9px;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#svg_74*/

#path_75 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    cursor: pointer;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    fill: rgb(55, 69, 77);
    d: path('M 7.414 6 l 4.293 -4.293 C 11.903 1.51 12 1.257 12 1 s -0.097 -0.512 -0.293 -0.707 c -0.39 -0.39 -1.023 -0.39 -1.414 0 L 6 4.586 L 1.707 0.293 c -0.39 -0.39 -1.023 -0.39 -1.414 0 C 0.097 0.488 0 0.743 0 1 s 0.097 0.512 0.293 0.707 L 4.586 6 L 0.293 10.293 C 0.097 10.488 0 10.743 0 11 s 0.097 0.512 0.293 0.707 S 0.743 12 1 12 s 0.512 -0.097 0.707 -0.293 L 6 7.414 l 4.293 4.293 c 0.195 0.195 0.45 0.293 0.707 0.293 s 0.512 -0.097 0.707 -0.293 S 12 11.257 12 11 s -0.097 -0.512 -0.293 -0.707 L 7.414 6 Z');
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 0px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#path_75*/

#SPAN_76 {
    box-sizing: border-box;
    clip: rect(0px 0px 0px 0px);
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    height: 1px;
    position: absolute;
    text-align: center;
    text-size-adjust: 100%;
    width: 1px;
    column-rule-color: rgb(55, 69, 77);
    align-self: flex-start;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    margin: -1px;
    outline: rgb(55, 69, 77) none 0px;
    overflow: hidden;
}/*#SPAN_76*/

#BUTTON_77 {
    color: rgb(55, 69, 77);
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    position: relative;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 20px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
    padding: 0px;
}/*#BUTTON_77*/

#DIV_78 {
    box-sizing: border-box;
    color: rgb(55, 69, 77);
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(55, 69, 77);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(55, 69, 77);
    font: normal normal normal normal 12px / 15px Arial, Helvetica, Sans, sans-serif, "Sans Serif";
    list-style: none outside none;
    outline: rgb(55, 69, 77) none 0px;
}/*#DIV_78*/

#UL_1 {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    display: table;
    height: 130px;
    width: 275.2px;
    column-rule-color: rgb(33, 33, 33);
    perspective-origin: 137.6px 88px;
    transform-origin: 137.6px 88px;
    border: 0px none rgb(33, 33, 33);
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px;
}/*#UL_1*/

#LI_2, #LI_3, #LI_5, #LI_7 {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    display: table-row;
    height: 22px;
    width: 275.2px;
    column-rule-color: rgb(33, 33, 33);
    perspective-origin: 137.6px 11px;
    transform-origin: 137.6px 11px;
    border: 0px none rgb(33, 33, 33);
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(33, 33, 33) none 0px;
    font-size: 12px;
    padding: 0px 8px 0px 0px;
}/*#LI_2, #LI_3, #LI_5, #LI_7*/

#LI_2:before, #LI_3:before, #LI_5:before, #LI_7:before {
    color: rgb(194, 194, 194);
    content: '•';
    display: table-cell;
    height: 22px;
    width: 5.2px;
    column-rule-color: rgb(194, 194, 194);
    perspective-origin: 6.6px 11px;
    transform-origin: 6.6px 11px;
    border: 0px none rgb(194, 194, 194);
    font-size: 12px;
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(194, 194, 194) none 0px;
    padding: 0px 8px 0px 0px;
}/*#LI_2:before, #LI_3:before, #LI_5:before, #LI_7:before*/

#LI_4 {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    display: table-row;
    height: 22px;
    width: 275.2px;
    column-rule-color: rgb(33, 33, 33);
    perspective-origin: 137.6px 11px;
    transform-origin: 137.6px 11px;
    border: 0px none rgb(33, 33, 33);
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(33, 33, 33) none 0px;
    font-size: 12px;
    padding: 0px 8px 0px 0px;
}/*#LI_4*/

#LI_4:before {
    color: rgb(194, 194, 194);
    content: '•';
    display: table-cell;
    height: 22px;
    width: 5.2px;
    column-rule-color: rgb(194, 194, 194);
    perspective-origin: 6.6px 11px;
    transform-origin: 6.6px 11px;
    border: 0px none rgb(194, 194, 194);
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    list-style: none outside none;
    font-size: 12px;
    outline: rgb(194, 194, 194) none 0px;
    padding: 0px 8px 0px 0px;
}/*#LI_4:before*/

#LI_6 {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    display: table-row;
    height: 66px;
    width: 275.2px;
    font-size: 12px;
    column-rule-color: rgb(33, 33, 33);
    perspective-origin: 137.6px 33px;
    transform-origin: 137.6px 33px;
    border: 0px none rgb(33, 33, 33);
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px 8px 0px 0px;
}/*#LI_6*/

#LI_6:before {
    color: rgb(194, 194, 194);
    content: '•';
    display: table-cell;
    height: 66px;
    width: 5.2px;
    font-size: 12px;
    column-rule-color: rgb(194, 194, 194);
    perspective-origin: 6.6px 33px;
    transform-origin: 6.6px 33px;
    border: 0px none rgb(194, 194, 194);
    font: normal normal normal normal 14px / 22px Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(194, 194, 194) none 0px;
    padding: 0px 8px 0px 0px;
}/*#LI_6:before*/

